.footer{
    margin-top: 60px;
    margin-bottom: 20px;

    &-block{
        margin: 10px 16px;
        text-align: center;
    
        &__link{
            text-decoration: none;
            color: $greyText;
            text-align: center;
        }
    }
}

@media(min-width: 768px){
    .footer{
        display: flex;
        justify-content: space-between;

        &-block{
            flex-basis: 33%;
        }
    }

    .left-txt-orient{
        display: block;
        text-align: left;
    }
    
    .right-txt-orient{
        display: block;
        text-align: right;
    }
}

