.header{
    // float: left;
    min-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #e8faf7;
    padding: 5px;
    background-color: #fff;
}

@media(min-width: 1120px){
    .header{
        display: none;
    }
}

.basic-button{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: none;
    border: none;

    &--menu-mode{
        margin: 0 8px;
    }
    
    &--burger-bg{
        background: url("../img/header-imgs/burger.svg") no-repeat center;
        margin: 0 10px;
    }
    
    &--call-bg{
        background: url("../img/header-imgs/call.svg") no-repeat center;
        margin: 0 10px;
    }
    
    &--chat-bg{
        background: url("../img/header-imgs/chat.svg") no-repeat center;
        margin: 0 10px;
    
    }
    
    &--profile-bg{
        background: url("../img/header-imgs/profile.svg") no-repeat center;
        margin: 0 10px;
    }
    
    &--repair-bg{
        background: url("../img/header-imgs/repair.svg") no-repeat center;
        margin: 0 10px;
    }
    
    &--checkstatus-bg{
        background: url("../img/header-imgs/checkstatus.svg") no-repeat center;
        margin: 0 10px;
    }
    
    &:hover{
        transform: scale(1.1);
        box-shadow: 0 0 5px 2px #e698bf;
    }
}




.buttons-block{
    display: flex;
    justify-content: space-evenly;
}

.tools-block{
    border-left: 2px solid #EAEAEA;
    margin-left: 30px;
}

@media(min-width: 768px){
    .tools-block{
        margin: 0;
    }
}

.conect-us{
    display: none;
}

@media(min-width: 768px){
    .conect-us{
        display: flex;
    }
}

.logo{
    flex-grow: 1;

    &__img{
        background-color: #fff;
        margin: 10px 0;
    }  
}

@media(min-width: 768px){
    .burger{
        border-right: 2px solid #EAEAEA;
        margin-right: 15px;
    }
}