.menu-wrap{
    visibility: hidden;
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.74);
    z-index: 9998;
}

@media(min-width: 1124px){
    .menu-wrap{
        overflow-y: hidden;
    }
}

@media(min-width: 1440px){
    .menu-wrap{
        width: auto;
        visibility: visible;
        position: static;
        height: auto;
    }
}

.main-menu{
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: 320px;
    background-color: #fff;
    overflow-y: scroll;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    transform: translateX(-380px);
    transition: transform;
    transition-duration: 0.7s;
    transition-timing-function: ease-out;

    &--visible-mod{
        // display: block;
        // left: 0px;
        transform: translateX(0px);
        transition: transform;
        transition-duration: 0.7s;
        transition-timing-function: ease-in;
    }

    &__header{
        width: 320px;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        margin-bottom: 15px;
        margin-top: 10px;
    }

    &__link{
        position: relative;
        overflow: hidden;
        display: block;
        padding: 10px 0;
        text-decoration: none;
        color: #000000;
        padding-left: 25px;
        font-family: 'TTLakes-Medium';

        &::after{
            position: absolute;
            top: 30px;
            display: block;
            content: "";
            height: 2px;
            width: 100%;
            background-color: rgb(14, 13, 13);
            transform: translateX(-120%);
            transition: transform;
            transition-duration: 0.3s;
            transition-timing-function: ease-out;
        }

        &--active{
            color: #7E7E82;
            border-left: 4px solid #41F6D7;
        }
    }

    &:hover > .main-menu__link{
        font-size: 17px;
    }
    
    &__list-item:hover > .main-menu__link::after{
        transform: translateX(0);
        background-color: rgb(197, 197, 197);
        transition: transform, background-color;
        transition-duration: 0.3s, 0.5s;
        transition-timing-function: ease-out;
    }
 
    &__contacts{
        margin-top: 40px;
        padding-left: 10px;
    }
    
}

@media (min-width: 1440px){
    .main-menu{
        position: static;
        transform: translateX(0px);
        box-shadow: none;
        overflow-x: hidden;
        height: 100%;
    }
}

@media (min-width: 768px){
    .main-menu{
        overflow-y: hidden;
    }
}

@media (min-width: 1445px){
    .main-menu{
        border-left: 1px solid $borderColor;
    }
}

.basic-button--search-bg{
    background: url("../img/menu-imgs/search.svg") no-repeat center;
    margin: 0 10px;
}

.basic-button--close-bg{
    position: relative;
    background-color: $pincBtnCol;
    border-radius: 50%;
    margin: 0 10px;

    &__first-stick{
        position: absolute;
        left: 10px;
        top: 19px;
        width: 20px;
        height: 3px;
        background-color: $whiteBg;
    }

    &__second-stick{
        position: absolute;
        left: 10px;
        top: 19px;
        width: 20px;
        height: 3px;
        background-color: $whiteBg;
    }
}

.animate-first{
    animation: first-stick;
    animation-delay: 0.7s;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

.animate-second{
    animation: second-stick;
    animation-delay: 0.7s;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

@media (min-width: 1440px){
    .basic-button--close-bg{
        display: none;
    }
}

.email-wrap,
.phone-wrap{
    margin-top: 10px;
    padding: 5px 10px 0px 10px;
    overflow: hidden;
}

.email,
.phone{
    position: relative;
    text-decoration: none;
    font-size: inherit;
    color: inherit;
}

.phone{
    font-family: 'TTLakes-Bold';
    font-weight: normal;
}

.email::after,
.phone::after{
    position: absolute;
    top: 0;
    left: 105%;
    content: "";
    height: 100%;
    width: 200%;
    background-color: rgba(194, 194, 194, 0.596);
    transform: translateX(100%);
}

.email:hover::after,
.phone:hover::after{
    animation: faststik;
    animation-duration: 0.4s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.phone{
    font-size: 20px;
    letter-spacing: -0.6px;
    font-size: 24px;
    line-height: 32px;
}

.radio-block{
    margin: 20px 20px 30px 20px;
}

.lang-label{
    cursor: pointer;
    font-weight: bold;
}

.radio-block > input{
    position: absolute;
    left: -100%;
}

.radio-block input:checked + .lang-label{
    color: #7E7E82;
    font-weight: normal;
}

