.menu-navigation{
    overflow: hidden;
    background-color: #F8F8F8;
    max-width: 1440px;
    margin: 0 auto;
}


.services-slider{
    display: flex;
    margin-bottom: 15px;
    padding: 0 10px;
}

// @media(min-width: 1120px){
//     .services-slider{
//         overflow-x: scroll;
//     }

// }

.services-slider__item{
    display: flex;
    justify-content: center;
    cursor: pointer;
    min-width: 250px;
    flex-basis: 20%;
    padding: 5px;
    font-family: 'TTLakes-Regular';
    font-weight: lighter;
    border-radius: 6px;

    &:hover{
        font-weight: bolder;
    }

    &--active{
        background-color: #fff;
        border: 2px solid #99eee0;
    }
}


.services-slider__text{
    text-decoration: none;
    color: black;
}