.modal-wrap{
    position: fixed;
    visibility: hidden;
    overflow-y: scroll;
    right: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.74);
    z-index: 9999;
}

.modal{
    position: absolute;
    top: 0px;
    right: 0px;
    max-width: 440px;
    height: 100%;
    overflow-y: scroll;
    background-color: #fff;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    transition: transform;
    transform: translateX(380px);
    transition-duration: 0.7s;
    transition-timing-function: ease-out;

    &-content{
        max-width: 375px;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 30px;
    }

    &-closing-block{
        display: flex;
        align-items: center;
        justify-content: start;
        height: 70px;
    }

    &__btn-wrap{
        height: 50px;
        margin-top: 10px;
        margin-left: 5px;
    }

    &-header{
        display: flex;
        align-items: center;
        height: 40px;
        max-width: 345px;
        border-left: 3px solid $borderGreen;
        margin-bottom: 15px;

        &__text{
            font-family: 'TTLakes-Bold';
            margin-left: 5%;
        }
    }

    &-form-input{
        width: 100%;
        height: 48px;
        border-radius: 6px;
        border: 1px solid $borderColor;
        margin-bottom: 15px;
        padding: 12px;
        color: #B5B6BC;
        font-size: 17px;

        &--textarea-mod{
            height: 120px;
        }
    }

    &-description__link{
        color: $pincBtnCol;
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }

    &-btn{
        margin: 20px 0;
        border: none;
        outline: none;
        width: 140px;
        margin-left: auto;
    }
}

@media (min-width: 1024px){
    .modal{
        height: 100vh;
    }
}

@media (min-width: 1440px){
    .modal-mode{
        display: block;
    }
}

.visible-mode{
    transition: transform;
    transform: translateX(0px);
    transition-duration: 0.7s;
    transition-timing-function: ease-in;
}