.price-block{
    width: 80vw;
    margin: 0 auto;

    .price-card{
        background-color: $whiteBg;
        border-radius: 6px;
        box-shadow: inset 0 0 0 1px $borderColor;
        min-height: 200px;
        font-size: 14px;
        margin: 16px 0px 55px 0px;

        &-item{
            margin: 16px;

            &__header{
                color: $greyText;
            }

            &__link-item{
                position: absolute;
                right: 16px;
                bottom: 16px;
            }
        }
    }
}

@media (min-width: 564px){
    .price-block{
        display: none;
    }
}

.price-card-item__link{
    width: 110px;
    height: 32px;
    background: url(/JS_Mentor_Edicaton/First_Block_Exm_Task/src/img/price-imgs/dropdown.png) 90% no-repeat;
    background-color: $pincBtnCol;
    border-radius: 16px;
    font-size: 13px;
    padding-left: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: $whiteBg;
    display: flex;
    align-items: center;
    font-family: 'TTLakes-Medium';

    &--wide-mode{
        margin-left: 15px;
    }

    &:hover{
        box-shadow: 0 0 5px 2px #e698bf;
    }
}

.price-wide{
    display: none;
}

@media (min-width: 564px){
    .price-wide{
        display: block;
        margin: 20px;

        &-header{
            display: flex;
            height: 36px;
            margin: 25px 10px 0 10px;

            &__elem{
                color: $greyText;

                &--service-opt{
                    flex-basis: 55%;
                }

                &--price,
                &--term,
                &--spacer{
                    flex-basis: 15%;
                }
            }
        }

        &-table{
            background-color: $whiteBg;
            border-radius: 6px;

            &__row{
                position: relative;
                display: flex;
                margin: 0 10px;
            }

            :not(:last-child){
                border-bottom: 1px solid $borderColor;
            }


            &__cell{
                display: flex;
                height: 60px;
                align-items: center;

                &--option{
                    flex-basis: 55%;
                }

                &--price,
                &--term{
                    flex-basis: 15%;
                }

                &--wide-mode{
                    flex-basis: 15%;
                    justify-content: flex-end;
                }
            }
        }
    }
}