.price-block{
    width: 80vw;
    margin: 0 auto;

    .price-card{
        background-color: $whiteBg;
        border-radius: 6px;
        box-shadow: inset 0 0 0 1px $borderColor;
        height: 200px;
        margin: 16px 0px 55px 0px;

        &-item{
            margin: 16px 16px;

            &__header{
                color: $greyText;
            }
        }
    }
}
