.services{
    overflow: hidden;
    background-color: $bgColor;
    max-width: 1440px;
    margin: 0 auto;
}

.comments{
    display: none;
}

@media(min-width: 1120px){
    .comments{
        display: block;

        &__link{
            text-decoration: none;
            color: black;
            margin-left: 35px;

            &:hover{
                text-decoration: underline;
            }
        }
    }
}


.services__par-block{
    padding: 20px;
    margin-top: 20px;
}

@media(min-width: 660px){
    .services__par-block{
        flex-basis: 50%;
        margin-top: 0;
        padding-top: 0;
    }
}

.services__par-text{
    height: 17vh;
    overflow-y: hidden;
}

@media(min-width: 660px){
    .services__par-text{
        font-size: 1.1rem;
    }
}

.services__readmore-wrap{
    margin-top: 10px;
}

.services__readmore-button{
    cursor: pointer;
    text-align: right;
    border: none;
    border-radius: 3px;
    background: url("../img/section-imgs/expand-up.svg") no-repeat left;
    padding: 7px;
    font-size: 15px;
    font-weight: lighter;
    padding-left: 30px;

    &:hover{
        box-shadow: inset 0 0 3px 0 rgb(161, 161, 161);
    }

    &:focus{
        outline: none;
    }

    &--active{
        background: url("../img/section-imgs/expand-down.svg") no-repeat left;
    }
}

.srevices__img{
    width: 100%;

    &--picture{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
}

@media(min-width: 660px){
    .srevices__img{
        flex-basis: 50%;
        align-self: flex-start;
        border-radius: 15px;
    }
}

.services-description{
    display: block;
}

@media(min-width: 660px){
    .services-description{
        display: flex;
        flex-wrap: wrap;
        padding: 15px;
    }
}

