@keyframes trembing_arrow {
    0%{
        transform: translateX(0px);
    }

    25%{
        transform: translateX(10px);
    }

    50%{
        transform: translateX(0px);
    }

    75%{
        transform: translateX(18px);
    }

    100%{
        transform: translateX(0px);
    }
}



@keyframes faststik {
    0%{
        transform: translateX(100%);
    }
    30%{
        transform: translateX(0%);
        width: 200%;
    }
    70%{
        width: 2%;
        background-color: rgba(194, 194, 194, 0.596);
    }
    100%{
        background-color: rgb(8, 8, 8);
        width: 2%;
        transform: translateX(0%);
    }
}

@keyframes first-stick {
    50%{
        transform: rotate(360deg);
    }
    75%{
        transform: translateX(10px);
    }
    100%{
        transform: rotate(45deg);
    }
}

@keyframes second-stick {
    50%{
        transform: rotate(360deg);
    }
    75%{
        transform: translateX(-10px);
    }
    100%{
        transform: rotate(135deg);
    }
}