$bgColor: #F8F8F8;
$whiteBg: #FFF;
$borderColor: #EAEAEA;
$pincBtnCol: #FF3E79;
$greyText: #7E7E82;


html{
    box-sizing: border-box;
}

*,::after,::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'TTLakes-Regular';
    letter-spacing: 1px;
    max-width: 1440px; 
}

.main-container{
    background-color: $bgColor;
    border-bottom: 1px solid transparent;
    max-width: 1120px;
}
