$bgColor: #F8F8F8;
$pincBtnCol: #FF3E79;
$maxSecreen: 1440px;


html{
    box-sizing: border-box;
}

*,::after,::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'TTLakes-Regular';
    letter-spacing: 1px;
    /* max-width: 1120px; */
}
