//Fonts file import
@import "fonts.scss";

//Animation keyframes import
@import "animations.scss";

//Common page rules import
@import "overall.scss";

//Main-menu rules import
@import "blocks/main-menu";

//Header rules import
@import "blocks/header";

//Services header rules import
@import "blocks/services-header";

//Menu-navigation rules import
@import "blocks/navigation";

//Services block rules import
@import "blocks/services";

//Repair block rules import
@import "blocks/repair";

//Technic repair rules import
@import "blocks/tech";

//Price list rules import
@import "blocks/price";

//Commercial-offer block rules import
@import "blocks/commercial-offer";

//Footer scss rules import
@import "blocks/footer";