//Fonts file import
@import "fonts.scss";

//Common page rules import
@import "overall.scss";

//Header rules import
@import "blocks/header";

//Services header rules import
@import "blocks/services-header";

//Menu-navigation rules import
@import "blocks/menu-navigation";